body {
	background-color: #c5c4be;
	font-size: 12px;
}

body.ps-body-embed {
	background-color: transparent;
}

h1 {
	padding-left: 17px;
	font-size: 2em;
	color: #CC0000;
}

.container {
	background-color: white;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
}

header {
	height: 95px;
	border-bottom: 5px solid black;
	background: white url(images/header-line.png) no-repeat;
	background-size: 100% 10px;
	margin-left: -15px;
	margin-right: -15px;
}

header .ps-logo {
	width: 200px;
}

header .ps-logo.ps-right {
	margin-top: 27px;
	margin-right: 11px;
}

.ps-footer-separator {
	height: 20px;
	box-shadow: none;
}

main {
	padding-bottom: 30px;
}

.ps-list-item {
	margin: 12px 0px 0px 0px;
	padding: 2px 17px 2px 17px;
	overflow: hidden;
	cursor: pointer;
}

.ps-view {
	height: 100px;
	overflow: hidden;
}

.ps-edit {

}

.ps-title {
	margin-top: 10px;
	font-size: 1em;
	line-height: 1em;
}

.ps-video .ps-title {
	font-size: 1em;
}

.ps-video .ps-image {
	width: 100%;
	margin-top: 3px;
	border: 1px solid #DED9D9;
}

channel-item .ps-image {
	float: none !important;
}

channel-item .ps-image-container {
	width: 129px;
	display: inline-block;
	height: 100%;
	float: left;
	text-align: center;
	vertical-align: middle;
	padding: 10px;
}

.ps-title-text {
	color: #CC0000;
}

.ps-date {
	font-size: 0.9em;
	line-height: 1.6em;
	color: #646464;
}

.ps-author {
	font-size: 0.9em;
	line-height: 0.6em;
	color: #646464;
}

footer {
	border-top: 4px solid black;
	margin-left: -15px;
	margin-right: -15px;
	padding: 15px 15px 0px 15px;
}

.ps-search-bar {
	padding: 0;
	margin: 0px -15px 0px -15px;
	background-color: #333333;
	border: none;
	border-bottom: 1px solid rgb(189, 189, 189);
	border-radius: 0px;
}

.ps-search-bar.navbar-default .navbar-nav > li > a {
	color: #B1B1B1;
}

.ps-search-bar.navbar-default .navbar-nav > .active > a, .ps-search-bar.navbar-default .navbar-nav > .active > a:hover, .ps-search-bar.navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
	font-weight: bold;
	color: white;
}

@media (min-width: 0px) {
	form.ps-search {
		height: 56px;
	}

	.ps-list-item.ps-video {
		background: none;
		border-radius: 0px;
		overflow: hidden;
		font-size: 1.4em;
	}

	.ps-search input.form-control[type=search] {
		width: 70%;
		float: left;
	}

	.ps-search input.btn[type=submit] {
		float: right;
	}


	.ps-item-menu-button {
		display: none;
	}
}

@media (min-width: 768px) {
	form.ps-search {
		height: auto;
	}

	.ps-video .ps-title {
		position: absolute;
		top: 104px;
		background-color: white;
		right: 17px;
		left: 17px;
		bottom:-10px;
		font-size: 1em;
	}
	
	.ps-list-item.ps-video {
		position: relative;
		background: none;
		border-radius: 0px;
		height: 160px;
		overflow: hidden;
		font-size: 0.9em;
	}

	.ps-search input.form-control[type=search] {
		width: auto;
		float: none;
	}

	.ps-search input.btn[type=submit] {
		float: none;
	}

	.ps-item-menu-button {
		display: block;
		z-index: 1;
		position: absolute;
		top: 36px;
		right: -45px;
	}

	channel-item .ps-item-menu-button {
		right: auto;
		top: auto;
		left: -3px;
		bottom: 24px;
	}
}

@media (min-width: 922px) {
	.ps-list-item.ps-video {
		position: relative;
		background: none;
		border-radius: 0px;
		height: 190px;
		overflow: hidden;
		font-size: 0.9em;
	}
	
	.ps-video .ps-title {
		position: absolute;
		top: 125px;
		background-color: white;
		right: 17px;
		left: 17px;
		bottom:-10px;
		font-size: 1em;
	}

	.ps-item-menu-button {
		z-index: 1;
		position: absolute;
		top: 36px;
		right: -93px;
	}

	channel-item .ps-item-menu-button {

	}
}

.ps-header-link {
	float:right;
	font-size: 0.5em;
}

.ps-item-menu {
	margin-left: 146px;
	margin-top: -23px;
	color: #939393;
	cursor: pointer;
}

.ps-item-menu li p {
	padding: 3px 10px 3px 10px;
}


.ps-item-menu-dropdown {
	left: auto;
}

.ps-list-item.ps-channel {
	display: block;
}

.ps-video-counter {
	font-size: 0.6em;
	color: darkgray;
	line-height: 2em;
}

.ps-login-area {
	margin-top: 10px;
	margin-right: -196px;
}

.ps-lang-link {
	cursor: pointer;
}

.ps-hidden {
}

.ps-badge {
	background-color: #cc0000;
}

.ps-loader {
	margin-top: 80px;
	background-image: url("images/ajax_loader.gif");
	display: block;
	width: 90px;
	height: 90px;
	background-size: 100% 100%;
	margin-right: auto;
	margin-left: auto;
}

.ps-loader-container {
	padding-top: 20px;
	padding-bottom: 100px;
}

.ps-search-bar-container {
	line-height: 48px;
}

.ps-lock {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 5em;
	color: #0a7d91;
}

.ps-unprocessed-icon {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 5em;
	color: rgb(186, 43, 36);
	background-color: rgba(255,255,255,0.83);
}

.ps-unprocessed-text {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1em;
	color: rgb(186, 43, 36);
	padding-top: 32%;
}

.ps-popup-content {
	padding: 20px;
}

.ps-popup-list {
	max-height: 500px;
	min-height: 300px;
	overflow: auto;
}

.ps-glyphicon-refresh-animate {
	-animation: spin .7s infinite linear;
	-webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
	from { -webkit-transform: rotate(0deg);}
	to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
	from { transform: scale(1) rotate(0deg);}
	to { transform: scale(1) rotate(360deg);}
}

.ps-form-item {
	line-height: 28px;
}

.ps-unprocessed {

}

.ps-remove-icon {
	color: red;
}

.ps-drop-box {
	padding: 6px;
	border: 1px dotted gray;
	border-radius: 4px;
}

.ps-upload-queue-item {
	height: 52px;
}

.ps-upload-queue-item-title {
	margin-right: 30px;
}

.ps-upload-progress-container {
	width: 121px;
}

.ps-upload-progress-bar {
	display: block;
	height: 8px;
	background-color: #D6D6D6;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 350px;
    height: 70px;
    text-align: center;
    padding: 20px 10px 0 10px;
    margin-left: 18%;
}

.drop-box.dragover {
    border: 5px dashed blue;
}

.drop-box.dragover-err {
    border: 5px dashed red;
}

.videodetails {
    margin-left: 20%;
}