body {
	background-color: #c5c4be;
	font-size: 12px;
}

h1 {
	padding-left: 17px;
	font-size: 2em;
	color: #CC0000;
}

.container {
	background-color: white;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
}

header {
	height: 95px;
	border-bottom: 5px solid black;
	background: white url(images/header-line.png) no-repeat;
	background-size: 100% 10px;
	margin-left: -15px;
	margin-right: -15px;
}

header .ps-logo {
	width: 200px;
}

header .ps-logo.ps-right {
	margin-top: 5px;
}

.ps-footer-separator {
	height: 20px;
	box-shadow: none;
}

main {
	padding-bottom: 30px;
}

.ps-list-item {
	background-color: #ededed;
	border: 1px solid lightgray;
	border-radius: 5px;
	margin: 12px 0px 0px 0px;
	padding: 0px 15px 0px 15px;
	overflow: hidden;
	cursor: pointer;
}

.ps-view {
	height: 100px;
	overflow: hidden;
}

.ps-edit {

}

.ps-title {
	margin-top: 10px;
	font-size: 1em;
	line-height: 1em;
	max-width: 70%;
}

.ps-video .ps-title {
	max-width: 100%;
	font-size: 1em;
}

.ps-video .ps-image {
	width: 100%;
	margin-top: 3px;
}

.ps-date {
	font-size: 0.9em;
	line-height: 1.6em;
	color: #646464;
}

.ps-author {
	font-size: 0.9em;
	line-height: 0.6em;
	color: #646464;
}

footer {
	border-top: 4px solid black;
	margin-left: -15px;
	margin-right: -15px;
	padding: 15px 15px 0px 15px;
}

.ps-search-bar {
	padding: 0;
	margin: 0px -15px 0px -15px;
	background-color: rgb(244, 244, 244);
	border: none;
	border-bottom: 1px solid rgb(189, 189, 189);
	border-radius: 0px;

}

@media (min-width: 0px) {
	form.ps-search {
		height: 56px;
	}

	.ps-list-item.ps-video {
		background: none;
		border-radius: 0px;
		overflow: hidden;
		font-size: 1.4em;
	}

	.ps-search input.form-control[type=search] {
		width: 70%;
		float: left;
	}

	.ps-search input.btn[type=submit] {
		float: right;
	}
}

@media (min-width: 768px) {
	form.ps-search {
		height: auto;
	}

	.ps-list-item.ps-video {
		background: none;
		border-radius: 0px;
		height: 200px;
		overflow: hidden;
		font-size: 0.9em;
	}

	.ps-search input.form-control[type=search] {
		width: auto;
		float: none;
	}

	.ps-search input.btn[type=submit] {
		float: none;
	}
}

.ps-header-link {
	float:right;
	font-size: 0.5em;
}

.ps-item-menu {
	float: right;
	margin-left: -26px;
	margin-top: 6px;
}

.ps-item-menu li p {
	padding: 3px 10px 3px 10px;
}

.ps-list-item.ps-channel {
	display: block;
}